body{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: Poppins;
} 
.image{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0; 
 background: url(luke-chesser-tgrBcf7S_dY-unsplash\ 1.png), lightgray 50%;
 height: 100vh;
}
.center{
  display: flex;
  width: 1160px;
  height: 846px;
  justify-content: center;
  align-items: flex-start;
  flex-shrink: 0;
}
.right{
  display: flex;
  width: 580px;
  height: 781px;
  padding: 26px 60px 40px 60px;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  background: white;
  border-top-left-radius: 10px;
 border-bottom-left-radius: 10px;
}
.left img{
  width: 676.8px;
height: 846px;
flex-shrink: 0;
border-top-right-radius: 10px;
border-bottom-right-radius: 10px;
}
.text{
  display: flex;
  align-items: center;
  border:2px solid black;
  border-radius: 25px;
  width: 400px;
margin: 5px;
  padding: 15px 20px 16px 30px;
  justify-content: center;
}
.loginin{
  display: flex;
  justify-content: center;
  
}
.yes{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.inner{
  display: flex;
  flex-direction: column;
}
p{
  padding-left:26px;
  color: #333;
  font-family: Avenir;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.no{
  color: #333;
  text-align: center;
  font-size: 30px;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 0;
}
h5{
color: #666;
font-size: 16px;
font-weight: 400;
margin-top: 0;
}
